.icon {
    width: 90px;
    position:absolute;
    right:0;
    top:0;
}

.card-text {
    position:relative;
}

.card {
    width: 304px;
    color:white;
}

.card-img-top {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 300px;
    object-fit: contain;
    width: 100%;
}

.img-card {
    background-color: white;
}

.food {
   background-color: #097969;
}

.bed {
    background-color: #817611;
}

.toy {
    background-color: rgb(82, 5, 5);
}